  <nav>
        <h1>Prohlížeč databáze zaměstnanců</h1>
        <ul>
            <li><a href="/room/list.php">Místnosti</a></li>
            <li><a href="/employee/list.php">Lidé</a></li>
        </ul>
    </nav>