<table class='table table-striped'>
    <tr>
        <th>Název</th>
        <th>Číslo</th>
        <th>Telefon</th>
        <th>Akce</th>
    </tr>

    {{#rooms}}
    <tr>
        <td>
            <a href='detail.php?roomId={{room_id}}'>{{name}}</a>
        </td>
        <td>{{no}}</td>
        <td>{{#phone}}{{phone}}{{/phone}}{{^phone}}&mdash;{{/phone}}</td>
        <td>
            <form action="update.php" method="get" style="display: inline-block">
                <input type="hidden" name="roomId" value="{{room_id}}">
                <input type="submit" value="Upravit" class="btn btn-info" disabled>
            </form>
            <form action="delete.php" method="post" style="display: inline-block">
                <input type="hidden" name="roomId" value="{{room_id}}">
                <input type="submit" value="Smazat" class="btn btn-danger" disabled>
            </form>
        </td>
    </tr>
    {{/rooms}}
    {{^rooms}}
        <tr><td colspan="3">Databáze je prázdná</td></tr>
    {{/rooms}}

</table>

<a href="create.php" class="btn btn-primary disabled" aria-disabled = "true">Založit novou místnost</a>